
<%= content_for :title, 'Fragrances' %>

<h1>Fragrances</h1>
<%= paginate @fragrances %> <!-- Pagination controls -->

<div class="columns is-multiline">
  <% @fragrances.each do |fragrance| %>
    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-image">

        </div>
        <div class="card-content">
          <p class="title is-4"><%= fragrance.name %></p>
          <p class="subtitle is-6">$<%= fragrance.price %></p>
          <%= link_to 'View Details', fragrance_path(fragrance), class: 'button is-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @fragrances %> <!-- Pagination controls again at the bottom -->

