<section class="section">
  <div class="container">
    <h1 class="title"><%= @fragrance.name %></h1>
    <img src="<%= @fragrance.url_img %>" alt="<%= @fragrance.name %>">
    <p><%= @fragrance.description %></p>
    <p>$<%= @fragrance.price %></p>
  </div>
</section>

