<%= content_for :title, @fragrance.name %>

<h1 class="title has-text-centered"><%= @fragrance.name %></h1>

<div class="columns is-centered">
  <div class="column is-half">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="<%= @fragrance.url_img %>" alt="<%= @fragrance.name %>" class="is-static">
        </figure>
      </div>
      <div class="card-content">
        <p class="is-size-4"><strong>Price:</strong> $<%= @fragrance.price %></p>
        <p><strong>Description:</strong> <%= @fragrance.description %></p>
        <p><strong>Availability:</strong> <%= @fragrance.availability ? 'In Stock' : 'Out of Stock' %></p>
      </div>
      <footer class="card-footer">
        <%= link_to 'Back to List', fragrances_path, class: 'button is-link card-footer-item' %>
      </footer>
    </div>
  </div>
</div>
