<%= content_for :title, @fragrance.name %>
<br>
<h1 class="title has-text-centered has-text-primary"><%= @fragrance.name %></h1>

<div class="columns is-centered">
  <div class="column is-half">
    <div class="card">
      <div class="card-image">
        <figure class="image">
         

            <% if @fragrance.image.attached? %>
              <%= image_tag @fragrance.image %>  <!-- Automatically generates the image tag -->
            <% else %>
              <%= image_tag 'default_image.jpg' %>  <!-- Fallback image if no image is attached -->
            <% end %>

        </figure>
      </div>
      <div class="card-content">
        <p class="is-size-4"><strong>Price:</strong> $<%= @fragrance.price %></p>
        <p><strong>Description:</strong> <%= @fragrance.description %></p>
        <p><strong>Availability:</strong> <%= @fragrance.availability ? 'In Stock' : 'Out of Stock' %></p>
      </div>
      <footer class="card-footer">
        <%= link_to 'Back to List', fragrances_path, class: 'button is-link card-footer-item' %>
      </footer>
    </div>
  </div>
</div>
