<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= content_for(:title) || "Fragrance Store" %></title>

    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  </head>

  <body>
    <div class="container">

    <!-- Page Header -->
    <section class="hero has-background-grey-dark has-text-white is-small">
      <div class="hero-body">
        <div class="container">
          <%= link_to root_path do %>
            <h1 class="title">Pure Scent Fragrances</h1>
            <p class="subtitle">Dare to be Different</p>
          <% end %>
        </div>
      </div>
    </section>

      <%= yield %>
    <div>
  </body>
<br><br>
<footer class="footer has-background-grey-dark has-text-white-ter" style="padding: 5px 0; margin: 0;">
  <div class="content has-text-centered">
    <p>
      <small>&copy; 2024 Pure Scent Fragrances. All rights reserved.</small>
    </p>
  </div>
</footer>


</html>
